In [1]:
import requests
from bs4 import BeautifulSoup
import os
import time
import pandas as pd

In [23]:
beige_book = []
date_list = []

for year in range(1996, 2022+1):
    if year != 2022:
        url = f'https://www.federalreserve.gov/monetarypolicy/beigebook{year}.htm'
    else:
        url = 'https://www.federalreserve.gov/monetarypolicy/beige-book-default.htm'
    res = requests.get(url)
    res.raise_for_status()

    soup = BeautifulSoup(res.text, 'lxml')
    tbody = soup.find('tbody')
    htmls = tbody.find_all('a')
    
    for html in htmls:
        if '.htm' in html['href']:
            url
            try:
                url_a = html['href'] 
                if 'default' not in url_a:
                    res_a = requests.get(url_a)
                    soup_a = BeautifulSoup(res_a.text, 'lxml')
                    div = soup_a.find('div', {'id': 'div_summary'})
                    raw_text = div.find('p').previous_sibling.text
                    ps = div.find_all('p')
                    for p in ps:
                        if p.find('strong'):
                            break
                        elif p.find('b'):
                            break
                        raw_text += p.text 
                    text = raw_text.replace('\n', ' ').replace('\r', '').replace('\t', '').strip()
                    date = soup_a.find('h1', {'class': 'border'}).text.split('- ')[-1]
                else:
                    res_a = requests.get(url_a)
                    soup_a = BeautifulSoup(res_a.text, 'lxml')
                    td = soup_a.find_all('td')[4]
                    ps = td.find_all('p')
                    raw_text = ''
                    for p in ps:
                        if p.find('strong'):
                            break
                        elif p.find('b'):
                            break
                        raw_text += p.text
                    text = raw_text.replace('\n', ' ').replace('\r', '').replace('\t', '').strip()
                    date = soup_a.find('font').text
            except:
                url_a = 'https://www.federalreserve.gov' + html['href']
                res_a = requests.get(url_a)
                soup_a = BeautifulSoup(res_a.text, 'lxml')
                div = soup_a.find('div', {'id': 'article'})
                raw_text = div.find_all('p')[0].text + div.find_all('p')[1].text + div.find_all('p')[2].text
                text = raw_text.replace('\n', ' ').replace('\r', '').replace('\t', '').strip()
                date = soup_a.find('div', {'class': 'page-title'}).text.split(' - ')[-1].strip()
            
            beige_book.append(text)
            date_list.append(date)
    
    print(year)

1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022

In [24]:
len(beige_book), len(date_list)

(203, 203)

In [25]:
df = pd.DataFrame([beige_book, date_list]).T
df.columns = ['beige_book', 'date']
df

                                            beige_book               date
0    Moderate expansion of business activity charac...   October 30, 1996
1    Moderate economic growth continues to be  repo...   December 4, 1996
2    Most District reports characterized early autu...   January 22, 1997
3    District economies generally continue to expan...     March 12, 1997
4    District economies generally continued to expa...        May 7, 1997
..                                                 ...                ...
198  Overall Economic Activity Economic growth down...  September 8, 2021
199  Overall Economic Activity Economic activity gr...   October 20, 2021
200  Overall Economic Activity Economic activity gr...   December 1, 2021
201  Overall Economic Activity Economic activity ac...   January 12, 2022
202  Overall Economic Activity Economic activity ha...      March 2, 2022

[203 rows x 2 columns]

In [26]:
df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
df

                                            beige_book       date
0    Moderate expansion of business activity charac... 1996-10-30
1    Moderate economic growth continues to be  repo... 1996-12-04
2    Most District reports characterized early autu... 1997-01-22
3    District economies generally continue to expan... 1997-03-12
4    District economies generally continued to expa... 1997-05-07
..                                                 ...        ...
198  Overall Economic Activity Economic growth down... 2021-09-08
199  Overall Economic Activity Economic activity gr... 2021-10-20
200  Overall Economic Activity Economic activity gr... 2021-12-01
201  Overall Economic Activity Economic activity ac... 2022-01-12
202  Overall Economic Activity Economic activity ha... 2022-03-02

[203 rows x 2 columns]

In [27]:
df['year'] = df['date'].dt.year
df

                                            beige_book       date  year
0    Moderate expansion of business activity charac... 1996-10-30  1996
1    Moderate economic growth continues to be  repo... 1996-12-04  1996
2    Most District reports characterized early autu... 1997-01-22  1997
3    District economies generally continue to expan... 1997-03-12  1997
4    District economies generally continued to expa... 1997-05-07  1997
..                                                 ...        ...   ...
198  Overall Economic Activity Economic growth down... 2021-09-08  2021
199  Overall Economic Activity Economic activity gr... 2021-10-20  2021
200  Overall Economic Activity Economic activity gr... 2021-12-01  2021
201  Overall Economic Activity Economic activity ac... 2022-01-12  2022
202  Overall Economic Activity Economic activity ha... 2022-03-02  2022

[203 rows x 3 columns]

In [215]:
df['month'] = df['date'].dt.month
df

                                           beige_book       date  year  month
0   Reports from the twelve Federal Reserve Distri... 2010-01-13  2010      1
1   Reports from the twelve Federal Reserve Distri... 2010-03-03  2010      3
2   Overall economic activity increased somewhat s... 2010-04-14  2010      4
3   Economic activity continued to improve since t... 2010-06-09  2010      6
4   Economic activity has continued to increase, o... 2010-07-28  2010      7
..                                                ...        ...   ...    ...
93  Overall Economic Activity Economic growth down... 2021-09-08  2021      9
94  Overall Economic Activity Economic activity gr... 2021-10-20  2021     10
95  Overall Economic Activity Economic activity gr... 2021-12-01  2021     12
96  Overall Economic Activity Economic activity ac... 2022-01-12  2022      1
97  Overall Economic Activity Economic activity ha... 2022-03-02  2022      3

[98 rows x 4 columns]

In [28]:
df['quarter'] = df['date'].dt.quarter

In [29]:
df

,beige_book,date,year,quarter
0,Moderate expansion of business activity charac...,1996-10-30,1996,4
1,Moderate economic growth continues to be repo...,1996-12-04,1996,4
2,Most District reports characterized early autu...,1997-01-22,1997,1
3,District economies generally continue to expan...,1997-03-12,1997,1
4,District economies generally continued to expa...,1997-05-07,1997,2
...,...,...,...,...
198,Overall Economic Activity Economic growth down...,2021-09-08,2021,3
199,Overall Economic Activity Economic activity gr...,2021-10-20,2021,4
200,Overall Economic Activity Economic activity gr...,2021-12-01,2021,4
201,Overall Economic Activity Economic activity ac...,2022-01-12,2022,1
202,Overall Economic Activity Economic activity ha...,2022-03-02,2022,1

In [251]:
df0.to_csv('beigebook_summary2010-2022.csv', index=False)